{
  "extends": "tribou",
  "rules": {
    "no-console": ["off"],
    "import/no-unresolved": ["off"],
    "global-require": ["off"],
    "jsx-quotes": ["error", "prefer-single"],
    "react/prefer-es6-class": ["off"],
    "react/prefer-stateless-function": ["off"]
  },
  "globals": {
    "__PREFIX_LINKS__": true
  }
}
